<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
This is the standard about page of our site. We will eventually fill this page with the normal stuff you would expect to find on the about page of a website. We may list our features on this page, as well as our history and goals.
</p>