<div class="center hero-unit">
  <h1>Welcome to the Zuviar 2.0.0</h1>

  <h2>
    This is the home page for the Zuviar System Version 2.0.0.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<p>
This is the test system, everything on here is subject to change, and there maybe many bugs and issues in the code.
</p>