<footer class="footer">
  <small>
    by Josh Ginn
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>News</li>
    </ul>
  </nav>
</footer>